@import url("./variables.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");
*,
html,
body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
.header {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-title {
  text-transform: uppercase;
  align-self: flex-start;
  font-weight: 700;
  margin: 3rem auto;
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 45%;
  margin: 0 auto;
}
.header-desc {
  font-size: var(--h3);
  text-align: center;
  color: #fff;
  background-color: #0369a1;
  padding: 2rem;
  border-radius: 10px;
}
.header-image {
  background-image: url("../media/background.jpg");
  background-size: cover;
  height: 100%;
  width: 40%;
  clip-path: polygon(59% 0, 100% 0, 100% 100%, 0% 100%);
  position: relative;
}
.header-image::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--brand-blue);

  mix-blend-mode: multiply;
}
.desk {
  background-color: var(--nav-background);
  width: 100%;
  margin: 0;
  z-index: 2;
  height: 6vh;
  display: flex;
  justify-content: flex-end;
}
.desk-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 100%;
}
.nav-item-desk,
.nav-item-desk:visited,
.nav-item-desk:link {
  font-size: var(--h4);
  font-weight: 300;
  margin: 1rem 0;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #0369a1 50%
  );
  background-size: 240%;
  transition: all 0.4s;
}
.nav-item-desk:hover,
.nav-item-desk:active {
  background-position: 100%;
  color: #fff;
  transform: translateX(1rem);
}
@include tablet {
  .desk {
    display: none;
  }
}

/* BLOGS  */
.section-title {
  font-size: var(--h2);
}
.img-preview {
  width: 300px;
}
.section-title {
  font-size: var(--h2);
  margin: 3rem auto;
}
.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  margin: 3rem auto;

  border-radius: 10px;
}
.article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  height: 35rem;
  background-color: var(--brand-blue);
  margin: 3rem auto;
  border-radius: 10px;
}
.article:nth-child(2n) {
  background-color: #fff;
}
.article-author {
}
.article-title {
}
.article-link,
.article-link:link,
.article-link:visited {
  font-size: 2rem;
  height: 5rem;
  color: #fff;
  border: 1px solid transparent;
  background-color: #bae6fd;
  color: black;
  border-radius: 2rem;
  padding: 0.5rem 2.4rem;
  text-decoration: none;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.article-link:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  transform: translateY(-4px);
  box-shadow: var(--level-2-white);
}
.article-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
  justify-content: space-around;
}
.main-article {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80vw;
  margin: 3rem auto;
}
.figure-image {
  width: 30%;
  margin: 2rem auto;
}
p {
  font-size: var(--h4);
  margin: 1rem auto;
}