<nav class="desk">
    <u1 role="list class="desk-nav">
        <li>
        <a href="/" class="nav-item-desk">Home</a>
        </li>
        <li>
        <a href="/blogs/" class="nav-item-desk">Blog</a>
        </li>
    </u1>
</nav>